<h1>BuscaDOU</h1>
<p>Olá,</p>

<p>Termos de seu interesse foram encontrados no DOU de <%= @ocorrencias[0][:data].strftime('%d/%m/%Y') %>.</p>

<ul>
	<% @ocorrencias.each do |ocorr| %>
	<li><%= ocorr[:destaque] %> (Página: <%= ocorr[:pagina] %> / Seção: <%= ocorr[:secao] %>)</li>
	<% end %>
</ul>
<p>
  Obrigado por utilizar o BuscaDOU!
</p>