<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6">
    <div class="page-header text-center">
      <h1 class="logo">Busca<span class="logo grey">DOU</span></h1>
    </div>
  </div>

  <div class="col-sm-3"></div>
</div>


<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6 text-center">
    <p><h4><%= flash[:destaque] %></h4></p>
    <br>
    <p><%= flash[:mensagem] %></p>
  </div>

  <div class="col-sm-3"></div>
</div>
