<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>BuscaDOU</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Receba um alerta via email quando palavras do seu interesse aparecerem no Diário Oficial da União (DOU)">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
